.app-title, .app-subtitle, .app-footer {
  text-align: center;
}

.app-title {
  margin-top: 50px;
  margin-bottom: 0;
}

.app-subtitle {
  font-weight: 100;
}

.app-footer {
  margin-top: 16px;
  font-weight: 100;
  opacity: 0.6;

}

.app-calculator {
  display: block;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
