<form class="app-input" [formGroup]="form">
  <mat-form-field class="app-form-field app-amount-form-field">
    <mat-label>Press Size</mat-label>
    <mat-select formControlName="amount">
      <mat-option *ngFor="let option of pressSizeOptions | async" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="app-form-field app-strength-form-field">
    <span class="app-label app-label-mute">Weak</span>
    <span class="app-label">Strength</span>
    <span class="app-label app-label-mute">Strong</span>
    <mat-slider class="app-slider" color="primary" formControlName="strength" max="7" min="1" step="1" tickInterval="1" thumbLabel
      [displayWith]="ratio">
    </mat-slider>
  </div>
</form>
<section class="app-output">
  <mat-card class="app-card-info" *ngFor="let measurement of measurements | async">
    <p class="app-card-info-label">{{ measurement.label }}</p>
    <p class="app-card-info-value">{{ measurement.value }}</p>
  </mat-card>
</section>
